In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

In [9]:
# Import the API key.
from config import gkey

In [10]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
new

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Saravan,39.7196,45.6483,30.85,88,96,1.05,AM,2021-11-28 19:42:42
1,1,Qaanaaq,77.4840,-69.3632,-8.30,79,25,7.85,GL,2021-11-28 19:37:46
2,2,Atuona,-9.8000,-139.0333,78.33,74,1,18.88,PF,2021-11-28 19:42:43
3,3,Sambava,-14.2667,50.1667,77.05,85,47,8.39,MG,2021-11-28 19:40:52
4,4,Pevek,69.7008,170.3133,1.45,84,100,1.45,RU,2021-11-28 19:42:43

In [15]:
new_column_order = ["City","Country","Date","Lat","Lng","Max Temp","Humidity","Cloudiness","Wind Speed"]
city_data_df = city_data_df[new_column_order]
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Saravan,AM,2021-11-28 19:42:42,39.7196,45.6483,30.85,88,96,1.05
1,Qaanaaq,GL,2021-11-28 19:37:46,77.4840,-69.3632,-8.30,79,25,7.85
2,Atuona,PF,2021-11-28 19:42:43,-9.8000,-139.0333,78.33,74,1,18.88
3,Sambava,MG,2021-11-28 19:40:52,-14.2667,50.1667,77.05,85,47,8.39
4,Pevek,RU,2021-11-28 19:42:43,69.7008,170.3133,1.45,84,100,1.45
...,...,...,...,...,...,...,...,...,...
555,Kalmunai,LK,2021-11-28 19:57:42,7.4167,81.8167,78.51,85,84,3.74
556,Pontalina,BR,2021-11-28 19:57:42,-17.5250,-49.4472,83.62,59,78,8.12
557,Quatre Cocos,MU,2021-11-28 19:55:25,-20.2078,57.7625,75.31,72,4,5.17
558,Burgeo,CA,2021-11-28 19:57:43,47.6167,-57.6152,39.85,67,47,22.73
559,North Bend,US,2021-11-28 19:57:43,43.4065,-124.2243,53.51,100,90,6.91

In [12]:
city_data_df.dtypes

City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [17]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [20]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [31]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 100

In [37]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,Atuona,PF,2021-11-28 19:42:43,-9.8000,-139.0333,78.33,74,1,18.88
3,Sambava,MG,2021-11-28 19:40:52,-14.2667,50.1667,77.05,85,47,8.39
10,Castro,BR,2021-11-28 19:42:46,-24.7911,-50.0119,81.28,48,78,4.14
11,Goundam,ML,2021-11-28 19:42:46,16.4145,-3.6708,83.95,15,100,10.96
16,Mirante Do Paranapanema,BR,2021-11-28 19:42:47,-22.2919,-51.9064,96.73,28,83,6.49
17,Saint-Pierre,RE,2021-11-28 19:42:48,-21.3393,55.4781,76.68,78,20,5.75
19,Santiago,CL,2021-11-28 19:42:48,-33.4569,-70.6483,85.44,18,0,5.75
21,Butaritari,KI,2021-11-28 19:42:49,3.0707,172.7902,81.50,78,79,13.24
25,Rikitea,PF,2021-11-28 19:39:07,-23.1203,-134.9692,76.33,77,12,16.82
34,Marovoay,MG,2021-11-28 19:42:53,-16.1000,46.6333,80.74,92,22,1.41

In [38]:
preferred_cities_df.count()

City          182
Country       180
Date          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
dtype: int64

In [56]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                        City Country  Max Temp      Lat       Lng Hotel Name
2                     Atuona      PF     78.33  -9.8000 -139.0333
3                    Sambava      MG     77.05 -14.2667   50.1667
10                    Castro      BR     81.28 -24.7911  -50.0119
11                   Goundam      ML     83.95  16.4145   -3.6708
16   Mirante Do Paranapanema      BR     96.73 -22.2919  -51.9064
..                       ...     ...       ...      ...       ...        ...
551             Santa Isabel      BR     85.71 -23.3156  -46.2214
554                   Aitape      PG     78.01  -3.1374  142.3475
555                 Kalmunai      LK     78.51   7.4167   81.8167
556                Pontalina      BR     83.62 -17.5250  -49.4472
557             Quatre Cocos      MU     75.31 -20.2078   57.7625

[182 rows x 6 columns]

In [62]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import gkey

In [63]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

In [68]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [69]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Atuona,PF,78.33,-9.8000,-139.0333,Villa Enata
3,Sambava,MG,77.05,-14.2667,50.1667,Melrose
10,Castro,BR,81.28,-24.7911,-50.0119,CHACARA BAILLY
11,Goundam,ML,83.95,16.4145,-3.6708,
16,Mirante Do Paranapanema,BR,96.73,-22.2919,-51.9064,Pousada Estrela
17,Saint-Pierre,RE,76.68,-21.3393,55.4781,Lindsey Hôtel
19,Santiago,CL,85.44,-33.4569,-70.6483,Che Lagarto Hostel Santiago
21,Butaritari,KI,81.50,3.0707,172.7902,Isles Sunset Lodge
25,Rikitea,PF,76.33,-23.1203,-134.9692,People ThankYou
34,Marovoay,MG,80.74,-16.1000,46.6333,Hôtel les Oliviers Marovoay

In [70]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [71]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [74]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [75]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))